.title-text{
    color: aliceblue;
}

:hover .title-text{
    color: aliceblue;
}

.card-text , .card-text a {
    color: WhiteSmoke;
}

.hash{
    color: lightgray;
}

.card-title-name, .card-subtitle, .card-btn {
 
    color: Gainsboro;
}

.publish-date{
    color: lightgray;
}

@media (max-width: 768px) {

    .best-image {
      margin: 13px;
      aspect-ratio: 16 / 11;
      background-color: var(--bg-prussian-blue);
      overflow: hidden;
      margin-bottom: -20px;
    }
  }

  .background-image{
    height: 100dvh;
    background-image: url("https://sachiofficial.github.io/Blog%20Post/images/hero-back.png");
    background-size: cover;
    background-position: center;
  }

  .blog-h2 {
    color: aliceblue;
    text-align: center;  
    font-size: 50px;
    position: relative; 
    top: 50%;  
    transform: translateY(-50%); 
  }
  
  .scroll-down{

    position: relative;
    top: 60%;
    transform: translateY(-60%);
    text-align: center;
  
  }

  .scroll-down img{

    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateX(5%);
  
  }


  .btn--neon {
    position: relative;
    padding: 12px 36px;
    margin: 10px auto;
    font-size: 13px;
    letter-spacing: 2px;
    border-radius: 5px;
    outline: none;
    border: none;
    text-transform: uppercase;
    box-sizing: border-box;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 45px;
    transition: 0.5s;
    color: black;
    background-color: aliceblue;
    width: 68%;
    white-space: nowrap;
    font-family: 'Poetsen One';
    font-weight: 400;
    box-shadow: rgb(136, 133, 133) 0px 0px 10px 5px inset;
  }
  

  @media(max-width: 768px) {

    .btn--neon {
      margin-bottom: -150px;
    }
  }