/* image scroll animation */
  
  .scroll-element {
    transform: scale(0.5);
    transition: all 2s;

  }

  .scroll-element.visible {
    transform: scale(1);
    
  }

  .scroll-element1 {
    opacity: 0.7;
    transform: translateX(200px);
    transition: all 3s;

  }
  .scroll-element1.visible {
    opacity: 1;
    transform:translateX(0px) ;

  }
  .scroll-element2 {
    transform:translateY(-50px);
    transition: all 2s;
    opacity: 0;

  }
  .scroll-element2.visible {
    transform:translateX(0px);
    opacity: 1;

  }
  .scroll-element3 {
    transform:translateX(100px);
    transition: all 2s;
    transition-delay: 0.2s;

  }
  .scroll-element3.visible {
    transform:translateX(0px);

  }
  .scroll-element4 {
    transform:translateY(100px);
    transition: all 2s;

  }
  .scroll-element4.visible {
    transform:translateX(0px);

  }
  .scroll-element5 {
    transform:translateX(-100px);
    transition: all 2s;
    transition-delay: 0.2s;

  }
  .scroll-element5.visible {
    transform:translateX(0px);

  }
  .scroll-element6 {
    opacity: 0;
    transition: all 2s;

  }
  .scroll-element6.visible {
    opacity: 1;

  }
  .scroll-element7 {
    opacity: 0;
    transition: all 2s;
    animation-delay: 3s;

  }
  .scroll-element7.visible {
    opacity: 1;

  }
  .scroll-element8 {
    opacity: 0;
    transition: all 2s;
    animation-delay: 4s;

  }
  .scroll-element8.visible {
    opacity: 1;

  }
  .scroll-element9 {
    opacity: 0;
    transform:translateY(100px);
    transition: all 4s;
    
  }
  .scroll-element9.visible {
    opacity: 1;
    transform:translateY(0px);

  }
  .scroll-element10 {
    opacity: 0;
    transform:translateX(-500px);
    transition: all 4s;
    
    
  }
  .scroll-element10.visible {
    transform:translateX(0px);
    opacity: 1;
  }
  .scroll-element11 {
    opacity: 0;
    transform:translateX(-500px);
    transition: all 4s;
    transition-delay: 0.6s;
    
  }
  .scroll-element11.visible {
    transform:translateX(0px);
    opacity: 1;
  }
  .scroll-element12 {
    opacity: 0;
    transform:translateX(500px);
    transition: all 4s;
    
  }
  .scroll-element12.visible {
    transform:translateX(0px);
    opacity: 1;
  }
  .scroll-element13 {
    opacity: 0;
    transform: translateX(500px);
    transition: all 4s;
    transition-delay: 0.6s;
  }
  
  .scroll-element13.visible {
    transform: translateX(0px);
    opacity: 1;
  }
  .scroll-element14 {
    scale:0.4;
    opacity: 0.4;
    transition: all 1.4s;
  }
  
  .scroll-element14.visible {
    scale: 1;
    opacity: 1;
  }
  .scroll-element15 {
    transform:translateY(150px);
    opacity: 0.4;
    transition: all 1.4s;
  }
  
  .scroll-element15.visible {
    transform:translateY(0px);
    opacity: 1;
  }
  .scroll-element16 {
    transform:translateY(150px);
    opacity: 0.4;
    transition: all 1.4s;
    transition-delay: 0.1s;
  }
  
  .scroll-element16.visible {
    transform:translateY(0px);
    opacity: 1;
  }
  .scroll-element17 {
    transform:translateY(150px);
    opacity: 0.4;
    transition: all 1.4s;
    transition-delay: 0.2s;
  }
  
  .scroll-element17.visible {
    transform:translateY(0px);
    opacity: 1;
  }
  .scroll-element18 {
    transform:translateY(150px);
    opacity: 0.4;
    transition: all 1.4s;
    transition-delay: 0.3s;
  }
  
  .scroll-element18.visible {
    transform:translateY(0px);
    opacity: 1;
  }
  .scroll-element19 {
    transform:translateY(150px);
    opacity: 0;
    transition: all 1.4s;
    transition-delay: 0.4s;
  }
  
  .scroll-element19.visible {
    transform:translateY(0px);
    opacity: 1;
  }
  .scroll-element20 {
    transform:translateY(150px);
    opacity: 0;
    transition: all 1.4s;
  }
  
  .scroll-element20.visible {
    transform:translateY(0px);
    opacity: 1;
  }
  .scroll-element21 {
    transform:translateY(150px);
    opacity: 0;
    transition: all 1.4s;
  }
  
  .scroll-element21.visible {
    transform:translateY(0px);
    opacity: 1;
  }
  .scroll-element22 {
    transform:translateX(-150px);
    opacity: 0;
    transition: all 1s;
    transition-delay: 1s;
  }
  
  .scroll-element22.visible {
    transform:translateX(0px);
    opacity: 1;
  }
  .scroll-element23 {
    transform:translateX(150px);
    opacity: 0;
    transition: all 1s;
    transition-delay: 1s;
  }
  
  .scroll-element23.visible {
    transform:translateX(0px);
    opacity: 1;
  }
  .scroll-element24 {
    transform:translateY(150px);
    opacity: 0;
    transition: all 1.4s;
  }
  
  .scroll-element24.visible {
    transform:translateY(0px);
    opacity: 1;
  }

  

  @media (max-width:768px){
    .scroll-element2 {
      transform:translateY(70px);
      transition: ease-in-out 2.4s;
      opacity: 0;
  
    }
    .scroll-element2.visible {
      transform:translateX(0px);
      opacity: 1;
  
    }
    .scroll-element3 {
      transform:translateX(100%);
      opacity: 0;
      transition: all 2s;
      transition-delay: 0.8s;
  
    }
    .scroll-element3.visible {
      transform:translateX(0px);
      opacity: 1;
  
    }
    .scroll-element4 {
      transform:translateX(-100%);
      opacity: 0;
      transition: all 2s;
  
    }
    .scroll-element4.visible {
      transform:translateX(0px);
      opacity: 1;
  
    }
    .scroll-element5 {
      transform:translateX(100%);
      opacity: 0;
      transition: all 2s;
      transition-delay: 0.2s;
  
    }
    .scroll-element5.visible {
      transform:translateX(0px);
      opacity: 1;
  
    }
    .scroll-element10 {
      opacity: 0;
      transform:translateX(-150%);
      transition: all 4s;
      
      
    }
    .scroll-element10.visible {
      transform:translateX(0px);
      opacity: 1;
    }
    .scroll-element11 {
      opacity: 0;
      transform:translateX(-150%);
      transition: all 4s;
      
    }
    .scroll-element11.visible {
      transform:translateX(0px);
      opacity: 1;
    }
    .scroll-element12 {
      opacity: 0;
      transform:translateX(150%);
      transition: all 4s;
      
    }
    .scroll-element12.visible {
      transform:translateX(0px);
      opacity: 1;
    }
    .scroll-element13 {
      opacity: 0;
      transform: translateX(150%);
      transition: all 4s;
    }
    
    .scroll-element13.visible {
      transform: translateX(0px);
      opacity: 1;
    }
    .scroll-element14 {
      scale:0.4;
      opacity: 0.4;
      transition: all 1.4s;
    }
    .scroll-element20 {
      transform:translateY(150px);
      opacity: 0;
      transition: all 1.6s;
    }
    
    .scroll-element20.visible {
      transform:translateY(0px);
      opacity: 1;
    }
    .scroll-element21 {
      transform:translateX(-150%);
      opacity: 0;
      transition: all 1.4s;
      transition-delay: 1s;
    }
    
    .scroll-element21.visible {
      transform:translateX(0px);
      opacity: 1;
    }
    .scroll-element22 {
      transform:translateX(150%);
      opacity: 0;
      transition: all 2s;
      transition-delay: 1s;
    }
    
    .scroll-element22.visible {
      transform:translateX(0px);
      opacity: 1;
    }
    .scroll-element23 {
      transform:translateY(150px);
      opacity: 0;
      transition: all 1.4s;
      transition-delay: 1s;
    }
    
    .scroll-element23.visible {
      transform:translateY(0px);
      opacity: 1;
    }
    .scroll-element24 {
      transform:translateY(150px);
      opacity: 0;
      transition: all 1.4s;
      transition-delay: 1s;
    }
    
    .scroll-element24.visible {
      transform:translateY(0px);
      opacity: 1;
    }
  }




  
