:root {
  --bg-wild-blue-yonder: hsla(216, 33%, 68%, 1);
  --bg-carolina-blue: hsla(199, 89%, 49%, 1);
  --bg-prussian-blue: rgba(34, 48, 68, 0);
  --bg-oxford-blue: rgba(19, 27, 48, 0);
  --bg-oxford-blue-2: rgba(15, 23, 41, 0);
  --text-white: hsla(0, 0%, 100%, 1);
  --text-alice-blue: hsla(216, 100%, 95%, 1);
  --text-columbia-blue: hsla(199, 69%, 84%, 1);
  --text-wild-blue-yonder: hsla(216, 33%, 68%, 1);
  --text-carolina-blue: hsla(199, 89%, 49%, 1);
  --text-shadow-blue: hsla(217, 24%, 59%, 1);
  --text-slate-gray: hsla(217, 17%, 48%, 1);
  --gradient-1: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%);
  --gradient-2: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea);
  --gradient-3: linear-gradient(0deg, #000d1a00, transparent);
  --border-wild-blue-yonder: hsla(216, 33%, 68%, 1);
  --border-prussian-blue: rgba(34, 48, 68, 0);
  --border-white: hsl(0, 0%, 100%);
  --border-white-alpha-15: hsla(0, 0%, 100%, 0);
  --white: hsl(0, 0%, 100%, 1);
  --black: hsl(0, 0%, 0%, 1);
  --fontFamily-noto_sans: 'Noto Sans', sans-serif;
  --fontSize-1: 2.9rem;
  --fontSize-2: 2.0rem;
  --fontSize-3: 1.8rem;
  --fontSize-4: 1.6rem;
  --fontSize-5: 1.5rem;
  --fontSize-6: 1.4rem;
  --fontSize-7: 1.2rem;
  --fontSize-8: 1.3rem;
  --weight-medium: 500;
  --weight-semiBold: 600;
  --weight-bold: 700;
  --weight-extraBold: 800;
  --lineHeight-1: 1.3;
  --lineHeight-2: 1.5;
  --lineHeight-4: 1.5;
  --shadow-1: 0 8px 20px 0 hsla(0, 0%, 0%, 0);
  --shadow-2: 0px 3px 20px hsla(180, 90%, 43%, 0);
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-16: 16px;
  --radius-48: 48px;
  --radius-circle: 50%;
  --radius-pill: 200px;
  --section-padding: 70px;
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);

}
/*-------------- RESET ---------------------*/



/* Remove blue highlight in mobile view */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection { background: none; color: rgb(0, 255, 72); }

a:active, button:active {
  background-color: initial;

}

* {-webkit-tap-highlight-color: transparent;}

li { list-style: none; }

a,
img,
span,
input,
button,
ion-icon { display: block; }

a {

  text-decoration: none;
}
a, button {

  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.2s ease-in-out;
}

button,a,li{
  
  cursor: none;
}

img { height: auto; }

input,
button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}

input {
  width: 100%;
  outline: none;
}

button {   cursor: none; }

ion-icon { pointer-events: none; }

address { font-style: normal; }

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color:black;
  color: #eee;
  font-family: var(--fontFamily-noto_sans);
  font-size: 12px;
  margin: 0;
  line-height: var(--lineHeight-4);
  overflow-x: hidden;
}

body.nav-active { overflow: hidden; }

::-webkit-scrollbar { display:none; }

::-webkit-scrollbar-track { background-color: transparent; }

::-webkit-scrollbar-thumb {
  background-color: var(--bg-carolina-blue);
  border-radius: var(--radius-pill);
}

/*-------------- Reused Styles ---------------------*/

.container { padding-inline: 16px; }

.hover-1,
.hover-2 { transition: var(--transition-1); }

.hover-1:is(:hover, :focus-visible) { 
  color: var(--text-wild-blue-yonder);
  transform: translateX(3px);
}

.hover-2:is(:hover, :focus-visible) { color: var(--text-carolina-blue); }

.profile-card {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-card .profile-banner { border-radius: var(--radius-circle); }

.headline {
  color: var(--text-columbia-blue);
  line-height: var(--lineHeight-1);
}

.headline-1 {
  font-size: var(--fontSize-1);
  color: var(--text-alice-blue);
  font-weight: var(--weight-extraBold);
}

.headline-2 { font-size: var(--fontSize-2); }

.headline-3 {
  font-size: var(--fontSize-2);
  line-height: var(--lineHeight-2);
}

.section-title { margin-block-end: 10px; }

.headline .span {
  background-image: var(--gradient-1);
  display: inline-block;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.btn {
  background-image: var(--gradient-2);
  background-size: 200%;
  background-position: left;
  color: var(--white);
  font-size: var(--fontSize-6);
  font-weight: var(--weight-bold);
  max-width: max-content;
  display: flex;
  align-items: center;
  gap: 3px;
  transition: var(--transition-1);
}

.btn:is(:hover, :focus-visible) { background-position: right; }

.btn-primary {
  padding: 8px 16px;
  border-radius: var(--radius-6);
}

.btn-secondary {
  padding: 18px 30px;
  border-radius: var(--radius-pill);
}

.w-100 { width: 100%; }

.card {
  background-color: var(--bg-oxford-blue);
  border: 1px solid var(--border-prussian-blue);
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--bg-prussian-blue);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section { padding-block: var(--section-padding); }

.section-text {
  font-size: var(--fontSize-3);
  margin-block-end: 70px;
}

.grid-list {
  display: grid;
  gap: 30px;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  font-size: var(--fontSize-6);
  margin-block: 20px;
}

.card-wrapper :is(.card-tag, .wrapper) {
  display: flex;
  gap: 3px;
  align-items: center;
}









/*-------------------- Chat-Bot --------------------*/

.chatnew {

  width: 62px;
  height: 62px;
  position: fixed;
  z-index: 100;
  right: 80px;
  bottom: 50px;
  border-radius: 50%;
}

@media (max-width:768px) {

  .chatnew{
    right: 17px;
    bottom: 17px;

  }
}









/*-------------------- Cursor --------------------*/

.cursor {

  width: 20px;
  height: 20px;
  border: 2px solid #ff0000; 
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out, border-color 0.3s ease;
  z-index: 9999; 
}

.hovered {

  border-color: #00ff00; 
}


@media (max-width:768px){

  .cursor{
  display: none;

  }
}

.body-entier{

  cursor: none;
}

.cursor-chatbot {

  cursor: pointer;
}









/*-------------------- LOADER --------------------*/

@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #000000, #191c1d, #06141a);
  z-index: 1000;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  color: #191654;
}

#svg {
  height: 150px;
  width: 150px;
  stroke: white;
  fill-opacity: 0;
  stroke-width: 3px;
  stroke-dasharray: 4500;
  animation: draw 18s ease;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.name-container {
  height: 30px;
  overflow: hidden;
}

.logo-name {
  color: #fff;
  font-size: 20px;
  letter-spacing: 12px;
  text-transform: uppercase;
  margin-left: 20px;
  font-weight: bolder;
}









/*-------------- Rack To Top ---------------------*/

.back-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: var(--bg-prussian-blue);
  color: var(--white);
  display: grid;
  place-items: center;
  border-radius: var(--radius-circle);
  border: 3px solid var(--bg-carolina-blue);
  transition: var(--transition-1);
  visibility: hidden;
  opacity: 0;
  z-index: 4;
}

.back-top-btn:is(:hover, :focus-visible) { box-shadow: var(--shadow-2); }

.back-top-btn.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(-10px);
}









/*-------------- Header ---------------------*/

.header .btn { display: none; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 10px;
  background-color: transparent;
  z-index: 100;
  
}

.header.active {
  padding-block: 8px;
  box-shadow: var(--shadow-1);
  border-block-end: 1px solid var(--bg-prussian-blue);
  animation: slideIn 0.5s ease forwards;
  background-color: #000000;
}

@keyframes slideIn {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.nav-open-btn,
.nav-close-btn {
  color: var(--text-wild-blue-yonder);
  font-size: 3.5rem;
}

.navbar {
  position: absolute;
  top: 0;
  right: -340px;
  max-width: 340px;
  width: 100%;
  height: 100vh;
  background-color: black;
  padding: 30px;
  z-index: 100;
  overflow-y: auto;
  visibility: hidden;
  transition: 0.25s var(--cubic-in);
}

.navbar.active {
  transform: translateX(-340px);
  visibility: visible;
  transition: 0.5s var(--cubic-out);
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-end: 15px;
  margin-block-end: 15px;
  border-block-end: 1px solid var(--border-prussian-blue);
}
a.active {
  color: hsla(199, 89%, 49%, 1);
  font-family: 'Teko';
  font-size: 24px;
  margin-top: 9px;

}

.navbar-list { border-block-end: 1px solid var(--border-white-alpha-15); }

.navbar-link {
  color: var(--text-alice-blue);
  font-weight: var(--weight-medium);
  padding-block: 10px;
  font-family: 'Teko';
  font-size: 24px;
}

.navbar-bottom {
  padding-block: 30px 20px;
  margin-block: 20px 25px;
  border-block: 1px solid var(--border-prussian-blue);
}

.navbar .profile-card { margin-block-end: 15px; }

.navbar .profile-card .card-title {
  color: var(--text-columbia-blue);
  font-size: var(--fontSize-6);
  font-weight: var(--weight-semiBold);
}

.navbar .profile-card .card-subtitle { font-size: var(--fontSize-7); }

.navbar .link-list {
  columns: 2;
  -webkit-columns: 2;
}

.navbar-bottom-link {
  color: var(--text-alice-blue);
  font-size: var(--fontSize-6);
  padding-block: 6px;
}

.copyright-text {
  color: var(--text-alice-blue);
  font-size: var(--fontSize-8);
}









/*-------------- Hero ---------------------*/

.carousel{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.carousel .list .item{
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
  
}
.carousel .list .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel .list .item .content{
  position: absolute;
  top: 25%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;

}
.carousel .list .item .author,.author103{
  font-weight: bold;
  letter-spacing: 10px;
}

@media(max-width:768px){
  .carousel .list .item .author103{
  letter-spacing: 4px;

  }
}

.carousel .list .item .title102,
.carousel .list .item .topic,
.carousel .list .item .topic103{
  font-size: 5em;
  font-weight: bold;
  line-height: 1.3em;
  
}

@media(max-width:768px){
  .carousel .list .item .topic103{
      font-size: 4.3em;

  }
}

.carousel .list .item .topic,
.carousel .list .item .topic103{
  color: #f1683a;
}
.carousel .list .item .buttons{
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}
.carousel .list .item .buttons button{
  border: none;
  background-color: GhostWhite;
  letter-spacing: 3px;
  font-family: 'Kanit';
  font-weight: 500;
  border-radius: 100px;
  color: #000;
}
.carousel .list .item .buttons button:nth-child(2){
  background-color: transparent;
  border: 2px solid GhostWhite;
  color: #eee;
  font-family: 'Kanit';
}


/* thumbail */

.thumbnail {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 10;
  display: flex;
  gap: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.thumbnail.fade-on-scroll {
  opacity: 1; 
}

.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}


.fade-on-scroll .thumbnail{
  transition: opacity 0.5s ease-in-out;
}

.thumbnail {
  opacity: 1; 
}

.thumbnail.fade-on-scroll {
  opacity: 0; 
}
  
.fade-on-scroll .arrows{
  transition: opacity 0.0s ease-in-out;
}
.arrows {
  opacity: 1; 
}

.arrows.fade-on-scroll {
  opacity: 0; 
}

@media (max-width: 768px) {

.thumbnail .item{
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
  display: none;
}

}
@media (max-width: 1199px) and (min-width: 768px) {

.thumbnail .item{
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
  display: none;
}

}
.thumbnail .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.thumbnail .item .content{
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.thumbnail .item .content .title102{
  font-weight: 500;
}
.thumbnail .item .content .description{
  font-weight: 300;
}
/* arrows */
.arrows{
  position: absolute;
  top: 80%;
  right: 57%;
  z-index: 10;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 50px;
  align-items: center;
}

@media (max-width:768px){

  .arrows{
      position: absolute;
      top: 82%;
      right: 35%;
      z-index: 1;
      width: 300px;
      max-width: 30%;
      display: flex;
      gap: 30px;
      align-items: center;
  }
}

.arrows button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee4;
  border: none;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  transition: .5s;
  
}
.arrows button:hover{
  background-color: #ffffff;
  color: #000;
}

/* animation */
.carousel .list .item:nth-child(1){
  z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .author103,
.carousel .list .item:nth-child(1) .content .title102,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .topic103,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons
{
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
  to{
      transform: translateY(0px);
      filter: blur(0px);
      opacity: 1;
  }
}
.carousel .list .item:nth-child(1) .content .title102{
  animation-delay: 1.2s!important;
}
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .topic103{
  animation-delay: 1.4s!important;
}
.carousel .list .item:nth-child(1) .content .des{
  animation-delay: 1.6s!important;
}
.carousel .list .item:nth-child(1) .content .buttons{
  animation-delay: 1.8s!important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img{
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
  to{
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0;
  }
}

.carousel.next .thumbnail .item:nth-last-child(1){
  overflow: hidden;
  animation: showThumbnail .5s linear 1 forwards;
}
.carousel.prev .list .item img{
  z-index: 100;
}
@keyframes showThumbnail{
  from{
      width: 0;
      opacity: 0;
  }
}
.carousel.next .thumbnail{
  animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
  from{
      transform: translateX(150px);
  }
}

/* running time */

.carousel .time{
  position: absolute;
  z-index: 1000;
  width: 0%;
  height: 3px;
  background-color: #f1683a00;
  left: 0;
  top: 0;
}

.carousel.next .time,
.carousel.prev .time{
  animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
  from{ width: 100%}
  to{width: 0}
}


.carousel.prev .list .item:nth-child(2){
  z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}
@keyframes outFrame{
  to{
      width: 150px;
      height: 220px;
      bottom: 50px;
      left: 50%;
      border-radius: 20px;
  }
}

.carousel.prev .thumbnail .item:nth-child(1){
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail .5s linear 1 forwards;
  
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
  pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .author103,
.carousel.prev .list .item:nth-child(2) .content .title102,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .topic103,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
  animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
  to{
      transform: translateY(-150px);
      filter: blur(20px);
      opacity: 0;
  }
}
@media screen and (max-width: 678px) {
  .carousel .list .item .content{
      padding-right: 0;
  }
  .carousel .list .item .content .title102{
      font-size: 30px;
  }
}

.des p{
font-family: 'Radio Canada Big';
font-size: 13px;
}

@media (max-width:768px){
.des p{
  font-size: 12px;
  }
}

.buttons button{
font-family: 'Poetsen One';
font-size: 14px;
}

/* background images */
.backImg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 150lvh;
  left: 0;
  margin-top: -100px;

}


@media (max-width :768px){
  .backImg {
      position: absolute;
      z-index: -1;
      width: auto;
      height: 330lvh;
      left: 0;
      margin-top: -20px;
    }
}




/*-------------- Media Quries ---------------------*/


  @media (min-width: 575px) {

  :root {

    --fontSize-1: 4.4rem;
    --fontSize-2: 3.5rem;
    --section-padding: 100px;

  }

  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }

  .header .btn {
    display: block;
    margin-inline-start: auto;
  }

  .header.active { padding-block: 20px; }

  }


  @media (min-width: 768px) {

  :root {

    --fontSize-1: 6.4rem;
    --fontSize-2: 4.5rem;

  }

  .container { max-width: 720px; }
}


  @media (min-width: 992px) {

  .container { max-width: 930px; }

}


  @media (min-width: 1200px) {

  .container { max-width: 90%; }

  body.nav-active { overflow-y: overlay; }

  .nav-open-btn,
  .navbar-top,
  .navbar-bottom,
  .copyright-text { display: none; }

  .navbar,
  .navbar.active {
    all: unset;
    display: block;
  }

  .navbar-list {
    border-block-end: none;
    display: flex;
    gap: 40px;
    margin-inline: auto;
    margin-left: -40px;
  }

  .header .btn { margin-inline-start: 0; }

  .navbar-link {
    color: var(--text-wild-blue-yonder);
    font-weight: unset;
  }

  .navbar-link:is(:hover, :focus-visible) {
    color: var(--text-carolina-blue);
    transform: translateX(0);
  }

}









/*------------------- About -------------------*/

.about{

  width: 100%;
  padding: 78px 0px;
  margin-top: 50px;
}

.main{

  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.image-human {

  height: auto;
  width: 420px;
  margin-left: -100px;
  padding-left: 50px;
  position: relative;
}

.about-text {

  width: 550px;
}

.about-text h1{

  color: MintCream;
  font-size: 80px;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.about-text h5{
  color: Snow;
  font-size: 30px;
  text-transform: capitalize;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-family: 'Young Serif';
}

.span-102{

  color: #ff0000;
}

.about-text p{

  color: #ffffff;
  line-height: 28px;
  font-size: 20px;
  margin-bottom: 45px;
  font-family: 'Roboto Condensed';
}

.custom-btn2 {

  width: 140px;
  height: 35px;
  background: transparent;
  border: 2px solid #ff0000;
  color: #ff0000;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  font-size: 20px;
  border-radius: 70px;
  transition: background 0.3s ease, color 0.3s ease;
}

.custom-btn2:hover {

  background: transparent;
  color: #ffffff; 
  box-shadow:
    0px 4px 6px rgba(0, 0, 0, 0.1),
    0px 8px 24px rgba(0, 0, 0, 0.15),
    0px 0px 20px rgba(0, 0, 0, 0.3);
}

.custom-btn2:active {

  transform: translateY(1px);
}

h5 {

  font-size: 16px;
  transform: scale(1);
  transition: transform 0.3s ease; 
  transform-origin: left; 
}

h5:hover {

  transform: scale(1.2);
}



/*--- Optimized for tablat screen ---*/

@media (max-width: 1199px) and (min-width: 768px) {
  .about{
    width: 100%;
    padding: 78px 0px;
    background-color: #000000;
    align-items: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  .about img {
    display: none;
  }
  
  .about-text {
    width: 100%;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
  
  }
  .main{
    width: 993px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .about-text h1{
  color: #ffffff;
  font-size: 70px;
  text-transform: capitalize;
  margin-bottom: 15px;
  text-align: center;
  }
  .about-text h5{
  color: #ffffff;
  font-size: 28px;
  text-transform: capitalize;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-family: 'Young Serif';
  text-align: center;
  margin-top: -20px;

  }
  span{
  color: #ffffff;
  }
.about-text p {
  color: #ffffff;
  line-height: 28px;
  font-size: 120%;
  margin-bottom: 10px;
  font-family: 'Roboto Condensed';
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}
  
  .custom-btn2 {
  width: 140px;
  height: 35px;
  background: transparent;
  border: 2px solid #ff0000;
  color: #ff0000;
  font-size: 20px;
  border-radius: 70px;
  margin: 0 auto;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
  
  }
  
  .custom-btn2:hover {
  background: transparent;
  color: #ffffff; /* Change text color when hovering */
  box-shadow:
    0px 4px 6px rgba(0, 0, 0, 0.1),
    0px 8px 24px rgba(0, 0, 0, 0.15),
    0px 0px 20px rgba(0, 0, 0, 0.3);
  }
  
  .custom-btn2:active {
  transform: translateY(1px);
  
  }
  
  h5 {
  font-size: 160px;
  transform: scale(1);
  transition: transform 0.3s ease; 
  transform-origin: center; 
  }
  
  h5:hover {
  transform: scale(1.2);
  }

}

/*------------------- Optimized for mobile screen -------------------*/

@media (max-width: 768px) {
  .about{
    width: 100%;
    padding: 78px 0px;
    background-color: #000000;
    align-items: center;
    margin-top: -100px;
    display: flex;
    justify-content: center;
  }
  .about img {
    display: none;
  }
  
  .about-text {
    width: 100%;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
  
  }
  .main{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-text h1{
    color: #ffffff;
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 15px;
    text-align: center;
    }
    .about-text h5{
    color: #ff0000;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-family: 'Young Serif';
    text-align: center;
    margin-top: -20px;
  
    }
  span{
  color: #ffffff;
  }
.about-text p {
  color: #ffffff;
  line-height: 28px;
  font-size: 120%;
  margin-bottom: 10px;
  font-family: 'Roboto Condensed';
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
  
  .custom-btn2 {
  width: 140px;
  height: 35px;
  background: transparent;
  border: 2px solid #ff0000;
  color: #ff0000;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  font-size: 20px;
  border-radius: 70px;
  transition: background 0.3s ease, color 0.3s ease;
  margin: 0 auto;

  }
  
  .custom-btn2:hover {
  background: transparent;
  color: #ffffff; /* Change text color when hovering */
  box-shadow:
    0px 4px 6px rgba(0, 0, 0, 0.1),
    0px 8px 24px rgba(0, 0, 0, 0.15),
    0px 0px 20px rgba(0, 0, 0, 0.3);
  }
  
  .custom-btn2:active {
  transform: translateY(1px);
  
  }
  
  h5 {
  font-size: 16px;
  transform: scale(1);
  transition: transform 0.3s ease; 
  transform-origin: center; 
  }
  
  h5:hover {
  transform: scale(1.1);
  }

}









/*------------------- Social Meadia Topic -------------------*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

:root {
  --bg1: black;
  --clr-1: rgb(255, 0, 0);
  --clr-2: rgb(60, 255, 0);
  --clr-3: rgb(66, 218, 94);
  --clr-4: rgb(255, 13, 207);

  --blur: 1rem;
  --fs: clamp(2rem, 7vw, 6rem);
  --ls: clamp(-1.75px, -0.25vw, -3.5px);
}

.body-15 {
  display: grid;
  place-items: center;
  background-color: var(--bg1);
  color: #ffbb00;
  font-family: "Inter", "DM Sans", Arial, sans-serif;
}

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

.content1 {
  text-align: center;
}

.title {
  font-size: 85px;
  font-weight: 100px;
  letter-spacing: var(--ls);
  position: relative;
  overflow: hidden;
  background: var(--bg1);
  margin: 0;
  font-family: 'Roboto Slab';
}
.aurora {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: darken;
  pointer-events: none;
}

.aurora__item {
  overflow: hidden;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: var(--clr-1);
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(var(--blur));
  mix-blend-mode: overlay;
}

.aurora__item:nth-of-type(1) {
  top: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-1 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(2) {
  background-color: var(--clr-3);
  right: 0;
  top: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-2 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(3) {
  background-color: var(--clr-2);
  left: 0;
  bottom: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-3 8s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(4) {
  background-color: var(--clr-4);
  right: 0;
  bottom: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-4 24s ease-in-out infinite alternate;
}

@keyframes aurora-1 {
  0% {
    top: 0;
    right: 0;
  }

  50% {
    top: 100%;
    right: 75%;
  }

  75% {
    top: 100%;
    right: 25%;
  }

  100% {
    top: 0;
    right: 0;
  }
}

@keyframes aurora-2 {
  0% {
    top: -50%;
    left: 0%;
  }

  60% {
    top: 100%;
    left: 75%;
  }

  85% {
    top: 100%;
    left: 25%;
  }

  100% {
    top: -50%;
    left: 0%;
  }
}

@keyframes aurora-3 {
  0% {
    bottom: 0;
    left: 0;
  }

  40% {
    bottom: 100%;
    left: 75%;
  }

  65% {
    bottom: 40%;
    left: 50%;
  }

  100% {
    bottom: 0;
    left: 0;
  }
}

@keyframes aurora-4 {
  0% {
    bottom: -50%;
    right: 0;
  }

  50% {
    bottom: 0%;
    right: 40%;
  }

  90% {
    bottom: 50%;
    right: 25%;
  }

  100% {
    bottom: -50%;
    right: 0;
  }
}

@keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }

  25% {
    border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
  }

  50% {
    border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
  }

  75% {
    border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
  }

  100% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
}





/*------------------- Optimized for tablat screen -------------------*/

@media (max-width: 1199px) and (min-width: 768px) {

  .title {
    font-size: 70px;
    font-weight: 100px;
    letter-spacing: var(--ls);
    position: relative;
    overflow: hidden;
    background: var(--bg1);
    margin-top: -110px;
  }
}

/*------------------- Optimized for mobile screen -------------------*/
@media (max-width: 768px) {
  .content1 {
    text-align: center;
  }
  
  .title {
    font-size: 53px;
    font-weight: 100px;
    letter-spacing: var(--ls);
    position: relative;
    overflow: hidden;
    background: var(--bg1);
    margin-top: -170px;
    margin-left: 10px;
    margin-right: 10px;
  }
}









/*------------------- BOX -------------------*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

.container23 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
}

.box {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 2px solid #00ff00; 
  border-radius: 25px;
  box-shadow: #00ff00 0px 0px 10px 5px;
 }
 

.box img {
  max-width: 50%;
  max-height: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.box p {
  color: #ffffff;
  font-family: 'Oswald';
  font-size: 18px;
  margin: 25px;
  text-align: center;
}

.btn--neon {
  position: relative;
  padding: 12px 36px;
  margin: 10px auto;
  font-size: 13px;
  letter-spacing: 2px;
  border-radius: 5px;
  outline: none;
  border: none;
  text-transform: uppercase;
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 45px;
  transition: 0.5s;
  background: #00ff00;
  color: #050801;
  width: 68%;
  white-space: nowrap;
  margin-bottom: 20px;
  font-family: 'Poetsen One';
  font-weight: 400;
  box-shadow: rgb(114, 114, 114) 0px 0px 10px 5px inset;
}

.btn--neon:hover {
  background-color: #e1ff00;
}


/*------------------- Optimized for tablat screen -------------------*/

@media (max-width: 1199px) and (min-width: 768px) {

  .container23 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-content: space-around;
  }

  
  .box {
    width: 90%;
    height: auto;
    margin: 15px;
    float: left;
    top: 0px;
    clear: none;
  }
}

/*------------------- Optimized for mobile screen -------------------*/

@media (max-width: 768px) {
  .container23 {
    display: grid;
    grid-template-columns: 1fr ;
    justify-content: space-around;
  }
  
  .box {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 50px;
   }
   .box p {
    color: #ffffff;
    font-family: 'Oswald';
    font-size: 18px;
    margin: 20px;
    text-align: center;
  }
}








  
/*------------------- About My Jurney Title -------------------*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

:root {
  --bg10: black;
  --clr-10: rgb(255, 0, 0);
  --clr-20: rgb(60, 255, 0);
  --clr-30: rgb(66, 218, 94);
  --clr-40: Khaki;

  --blur: 1rem;
  --fs: clamp(2rem, 7vw, 6rem);
  --ls: clamp(-1.75px, -0.25vw, -3.5px);
}

.body-150 {
  display: grid;
  place-items: center;
  background-color: var(--bg10);
  color: #ffbb00;
  font-family: "Inter", "DM Sans", Arial, sans-serif;
}

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

.content1 {
  text-align: center;
}

.title10 {
  font-size: 85px;
  font-weight: 100px;
  letter-spacing: var(--ls);
  position: relative;
  overflow: hidden;
  background: var(--bg10);
  margin: 0;
  font-family: 'Roboto Slab';
}
.aurora102 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: darken;
  pointer-events: none;
}

.aurora__item10 {
  overflow: hidden;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: var(--clr-10);
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(var(--blur));
  mix-blend-mode: overlay;
}

.aurora__item10:nth-of-type(1) {
  top: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-1 12s ease-in-out infinite alternate;
}

.aurora__item10:nth-of-type(2) {
  background-color: var(--clr-30);
  right: 0;
  top: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-2 12s ease-in-out infinite alternate;
}

.aurora__item10:nth-of-type(3) {
  background-color: var(--clr-20);
  left: 0;
  bottom: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-3 8s ease-in-out infinite alternate;
}

.aurora__item10:nth-of-type(4) {
  background-color: var(--clr-40);
  right: 0;
  bottom: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-4 24s ease-in-out infinite alternate;
}

@keyframes aurora-1 {
  0% {
    top: 0;
    right: 0;
  }

  50% {
    top: 100%;
    right: 75%;
  }

  75% {
    top: 100%;
    right: 25%;
  }

  100% {
    top: 0;
    right: 0;
  }
}

@keyframes aurora-2 {
  0% {
    top: -50%;
    left: 0%;
  }

  60% {
    top: 100%;
    left: 75%;
  }

  85% {
    top: 100%;
    left: 25%;
  }

  100% {
    top: -50%;
    left: 0%;
  }
}

@keyframes aurora-3 {
  0% {
    bottom: 0;
    left: 0;
  }

  40% {
    bottom: 100%;
    left: 75%;
  }

  65% {
    bottom: 40%;
    left: 50%;
  }

  100% {
    bottom: 0;
    left: 0;
  }
}

@keyframes aurora-4 {
  0% {
    bottom: -50%;
    right: 0;
  }

  50% {
    bottom: 0%;
    right: 40%;
  }

  90% {
    bottom: 50%;
    right: 25%;
  }

  100% {
    bottom: -50%;
    right: 0;
  }
}

@keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }

  25% {
    border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
  }

  50% {
    border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
  }

  75% {
    border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
  }

  100% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
}

/*------------------- Optimized for tablat screen -------------------*/

@media (max-width: 1199px) and (min-width: 768px) {

  .title10 {
    font-size: 70px;
    font-weight: 100px;
    letter-spacing: var(--ls);
    position: relative;
    overflow: hidden;
    background: var(--bg10);
    margin-top: -110px;
  }
}

/*------------------- Optimized for mobile screen -------------------*/
@media (max-width: 768px) {
  .content1 {
    text-align: center;
  }
  
  .title10 {
    font-size: 53px;
    font-weight: 100px;
    letter-spacing: var(--ls);
    position: relative;
    overflow: hidden;
    background: var(--bg10);
    margin-top: -170px;
    margin-left: 10px;
    margin-right: 10px;
    align-self:last baseline;
  }
}









/*------------------- About My Jurney -------------------*/

.container103 {
  width: 95% !important;
  padding: 0 !important;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 992px) and (max-width: 1439px) {
    max-width: 1279px !important;
    padding: 0 !important;
    margin: 0 80px !important;
    width: auto !important;
  }

  @media screen and (max-width: 991px) {
    max-width: 959px !important;
    margin: 0 16px !important;
    padding: 0 !important;
    width: auto !important;
  }
}

.gradient-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  padding: 30px;
  @media screen and (max-width: 991px) {
    grid-template-columns: 1fr;
  }
}

.container-title {
  text-align: center;
  padding: 0 !important;
  margin-bottom: 40px;
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  line-height: 60px;
}

.card104 {
  max-width: 800px;
  border: 0;
  width: 100%;
  margin-inline: auto;
}

.container-card {
  position: relative;
  border: 2px solid transparent;
  background: black;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  background-clip: padding-box;
  border-radius: 45px;

  padding: 40px;
  img {
    margin-bottom: 32px;
  }
}

.bg-green-box,
.bg-white-box,
.bg-yellow-box,
.bg-blue-box {
  position: relative;
}

.bg-green-box::after,
.bg-white-box::after,
.bg-yellow-box::after,
.bg-blue-box::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  z-index: -1;
  border-radius: 45px;
}

.bg-green-box::after {
  background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
}

.bg-white-box::after {
  background: linear-gradient(71deg, #121013, #b0afb0, #121013);
}

.bg-yellow-box::after {
  background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
}

.bg-blue-box::after {
  background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
}

.card-title {
  font-weight: 600;
  color: white;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-style: normal;
  font-size: 28px;
  padding-bottom: 8px;
}

.card-description {
  font-weight: 600;
  line-height: 32px;
  color: AliceBlue;
  font-size: 16px;
  max-width: 470px;
}









/*------------------- FAQ -------------------*/

.h2-faq{
  font-size: 60px;
  font-family:'Poetsen One' ;
  color: #eaed35;
  text-align: center;
}

.according {
  margin: 60px auto;
  width: 1200px;
  cursor: none;
}

.according li {
  list-style: none;
  width: 100%;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  background: black;
  box-shadow: rgba(61, 93, 50, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  cursor: none;
}

.according li label {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: none;
}

.according li label::before {
  content: '+';
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  cursor: none;
}

input[type="radio"] {
  display: none;
}

.according .content {
  color: #d7d7d7;
  padding: 0 10px;
  line-height: 26px;
  font-size: 16px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

input[type="radio"]:checked + label + .content {
  max-height: 400px;
  padding: 10px 10px 20px;
}

input[type="radio"]:checked + label::before {
  content: '-';
  color: #ffffff;
}
.faq-main{
  color: #ffffff;
  cursor: none;

}


/*------------------- Optimized for tablat screen -------------------*/

@media (max-width: 1199px) and (min-width: 768px) {
  .h2-faq{
    font-size: 40px;
    color: #eaed35;
    text-align: center;
  }
  
  .according {
    margin: 60px auto;
    width: 100%;
  }
  
  .according li {
    list-style: none;
    width: 93%;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
  }
  
  .according li label {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;

  }
  
  .according li label::before {
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  .according .content {
    color: #d7d7d7;
    padding: 0 10px;
    line-height: 26px;
    font-size: 16px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
  }
  
  input[type="radio"]:checked + label + .content {
    max-height: 400px;
    padding: 10px 10px 20px;
  }
  
  input[type="radio"]:checked + label::before {
    content: '-';
    color: #ffffff;
  }
  .faq-main{
    color: #ffffff;
  
  }

}

/*------------------- Optimized for mobile screen -------------------*/

@media (max-width: 768px) {
  .h2-faq{
    font-size: 40px;
    color: #eaed35;
    text-align: center;
  }
  
  .according {
    margin: 60px auto;
    width: 100%;
  }
  
  .according li {
    list-style: none;
    width: 93%;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
  }
  
  .according li label {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: none;
  }
  
  .according li label::before {
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  .according .content {
    color: #d7d7d7;
    padding: 0 10px;
    line-height: 26px;
    font-size: 16px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
  }
  
  input[type="radio"]:checked + label + .content {
    max-height: 400px;
    padding: 10px 10px 20px;
  }
  
  input[type="radio"]:checked + label::before {
    content: '-';
    color: #ffffff;
  }
  .faq-main{
    color: #ffffff;
  
  }

}
:root {
  --light-blue: rgb(32, 18, 95);
  --dark-blue: rgb(204, 100, 223);
  --violet: rgb(119, 188, 236);
  
  --background-left: rgb(29, 33, 68);
  --background-right: rgb(30, 25, 47);
  
  --conic-gradient: conic-gradient(
    var(--dark-blue), 
    var(--violet), 
    var(--light-blue),
    var(--dark-blue)
  );
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  from, 20%, 40%, 80%, to {
    transform: scale(1);
  }
  
  10%, 60% {
    transform: scale(1.1);
  }
}

/*------------------- Profiles -------------------*/
.h12{
  font-family: 'Freeman';
  font-size: 60px;
  color: rgb(34, 255, 0); 
  text-shadow: #44ff00;
  text-align: center;
  letter-spacing: 1px;


}

#profiles {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(10px, 0.8vw, 20px);
  justify-content: center;
  margin-left: 10%;
  width: clamp(600px, 80vw, 1400px);
}

.profile {
  aspect-ratio: 7 / 8;
  backdrop-filter: blur(0.75vw);
  background-color: rgba(255, 255, 255, 0.033);
  border-radius: 1vw;
  transition: background-color 250ms;
  width: calc(25% - clamp(0px, 0.8vw, 20px));
}

.profile:hover {
  backdrop-filter: blur(1vw);
  background-color: rgba(255, 255, 255, 0.1);
}

.profile > .profile-content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: calc(100% - clamp(8px, 1vw, 12px));
  justify-content: center;
  padding: clamp(8px, 1vw, 12px);
}

.profile > .profile-content > .profile-pic {
  aspect-ratio: 1;
  border: clamp(3px, 0.4vw, 5px) solid white;
  border-radius: 100%;
  flex-shrink: 0;
  height: 70%;
  position: relative;
}

.profile > .profile-content > .profile-pic > .profile-pic-image {
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 100%;
  height: calc(100% - clamp(10px, 1.5vw, 20px));
  margin: clamp(5px, 0.75vw, 10px);
  object-fit: cover;
  width: calc(100% - clamp(10px, 1.5vw, 20px));
}

.profile > .profile-content > .profile-name {
  color: white;
  font-family: 'Rubik', sans-serif;
  font-size: clamp(1em, 2vw, 2em);
  margin: 0px;
  text-align: center;
}

/*------------------- Optimized for tablat screen -------------------*/

@media (max-width: 1199px) and (min-width: 768px) {

.h12{
    font-size: 60px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: -50px;
  
  }

  .profiles {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: 80%;

  }
  
.profile {
    aspect-ratio: 7 / 8;
    backdrop-filter: blur(0.75vw);
    border-radius: 1vw;
    transition: background-color 250ms;
    width: 40%;
  }
  
  .profiles > .profile:hover {
    backdrop-filter: blur(1vw);
    background-color: rgba(255, 255, 255, 0.1);
  }
  
.profile-content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - clamp(8px, 1vw, 12px));
    justify-content: center;
    padding: clamp(8px, 1vw, 12px);
  }
  
  .profile > .profile-content > .profile-pic {
    aspect-ratio: 1;
    border: clamp(3px, 0.4vw, 5px) solid white;
    border-radius: 100%;
    flex-shrink: 0;
    height: 70%;
    position: relative;
  }
  
  .profile > .profile-content > .profile-pic > .profile-pic-image {
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 100%;
    height: calc(100% - clamp(10px, 1.5vw, 20px));
    margin: clamp(5px, 0.75vw, 10px);
    object-fit: cover;
    width: calc(100% - clamp(10px, 1.5vw, 20px));
  }
  
  .profile > .profile-content > .profile-name {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: clamp(1em, 2vw, 2em);
    margin: 0px;
    text-align: center;
  }
}

/*------------------- Optimized for Mobile -------------------*/

@media (max-width: 767px) {

  .h12{
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
  
  }

  #profiles {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content :flex-start;
    width: 97%;
    margin-top: -100px;
    margin-left: 3%;
    z-index: 10;
  }

 .profile {
    aspect-ratio: 7/8;
    backdrop-filter: blur(0.75vw);
    border-radius: 1vw;
    transition: background-color 250ms;
    width: 48%; 
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

 .profile:hover {
    backdrop-filter: blur(1vw);
    background-color: rgba(255, 255, 255, 0.1);
  }

  .profile > .profile-content {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
  }

  .profile > .profile-content > .profile-pic {
    aspect-ratio: 1;
    border: clamp(3px, 0.4vw, 5px) solid white;
    border-radius: 100%;
    flex-shrink: 0;
    height: 70%;
    position: relative;
  }

  .profile > .profile-content > .profile-pic > .profile-pic-image {
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 100%;
    height: calc(100% - clamp(10px, 1.5vw, 20px));
    margin: clamp(5px, 0.75vw, 10px);
    object-fit: cover;
    width: calc(100% - clamp(10px, 1.5vw, 20px));
  }

  .profile > .profile-content > .profile-name {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: clamp(1em, 2vw, 2em);
    margin-top: 10px;
  }
}









/*------------------- Footer -------------------*/

  footer{
    width: 100%;
    position: relative;
    background: #000000;
    font-size: 13px;
    padding: 100px 0 125px;
    line-height: 20px;
    box-shadow: 0 40px 80px 0 rgba(255, 196, 0, 0.219), 0 6px 20px 0 rgba(255, 196, 0, 0.367);
  
  
  }
  .row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  
  
  }
  .col{
    flex-basis: 25%;

  
  }
  .col:nth-child(2),.col:nth-child(3){
    flex-basis: 15%;
  
  }

.image246 {
    margin-top: -10px;
    margin-left: 15px;
    width: 200px;
    height: auto;
}

.col p{
  font-size: 13px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 60px;
  color: WhiteSmoke;

}

.col h2{
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
  color: AliceBlue;


}

.col1 p{
  margin-left: 0px;
  color: Azure;

}

.number{
  width: fit-content;
  font-weight: bold;
}

.email-id{
  width: fit-content;
  margin: 20px 0;

}
.email-id a{
  text-decoration:none;
  color: Azure;
}

.footer-links{
  margin-top: -15px;
}

.footer-links li{
  list-style: none;
  margin-bottom: 12px;

}
.footer-links li a{
  
  text-decoration:none;
  color: Azure;

}
form{
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
  margin-bottom: 50px;

}
form .fa-regular{
  font-size: 18px;
  margin-right: 10px;

}
form input{
  width: 100%;
  background: transparent;
  color: #ffffff;
  border: 0;
  outline: none;
  cursor: none;

}
form button{
  background: transparent;
  border: 0;
  outline: none;

}
form button .fa-solid{
  font-size: 16px;
  color: #ffffff;
}
.social-icons .fa-brands{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  line-height: 40px;
  font-size: 20px;
  color: #000000;
  background: #000000;
  margin-top: -50px;
  margin-left: 6.5%;
  margin-right: 0%;
  text-align: center;

}
hr{
  width: 90%;
  border: 0;
  border-bottom: 1px solid #959bad;
  margin: 20px auto;

  
}
.copyright{
  text-align: center;
  margin-bottom: -100px;
  color: FloralWhite;

  }

/*------------------- Optimized for tablat screen ------------------- */

@media (max-width: 1199px) and (min-width: 768px) {
  .row{
    width: 85%;
    margin: auto;
    gap: 6%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.image246 {
    margin-top: -8px;
    margin-left: 15px;
    width: 200px;
    height: auto;
}

.col p{
  font-size: 13px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 0px;

}

.col h2{
  width: 100%;
  margin-bottom: 40px;
  position: relative;

}

.col1 p{
  margin-left: 0px;

}

.col1 h4{
  margin-left: 0px;

}
.newsletter {
  margin-top: 20px;
  text-align: center;
}
.email-id{
  width: fit-content;
  margin: 7px 0;
}

.email-id a{
  text-decoration:none;
}

ul li{
  list-style: none;
  margin-bottom: 12px;
}

ul li a{
  text-decoration:none;
}

form{
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #000000;
  margin-bottom: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
  
}

form .fa-regular{
  font-size: 18px;
  margin-right: 10px;

}

form input{
  width: 500px;
  background: transparent;
  color: #ffffff;
  border: 40px;
  outline: white;

}

form button{
  background: transparent;
  border: 0;
  outline: none;

}

form button .fa-solid{
  font-size: 16px;
  color: #ffffff;
}

.social-icons .fa-brands{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  line-height: 40px;
  font-size: 20px;
  color: #000000;
  background: #000000;
  margin-left: 2%;
  margin-right: 15%;
  text-align: center;

}

hr{
  width: 90%;
  border: 0;
  border-bottom: 1px solid #959bad;
  margin: 20px auto;

  
}
.copyright{
  text-align: center;
  margin-bottom: -100px;

}

}

/*------------------- Optimized for mobile screen ------------------- */

@media(max-width:767px){
  .image246 {
    margin-left: -8px;
    margin: 0px left;  
    width: 200px;     
  }

  footer{
    bottom: unset;
  }

  .col h2{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    color: AliceBlue;
  
  }
  .col{
    flex-basis: 100%;
  }

  .col:nth-child(2),.col:nth-child(3){
    flex-basis: 100%;
  }

  .col p{
    margin-left: -1px;
  }

  .col1 {
    flex-basis: 100%;
    margin-top: 20px;
    width: fit-content;
  }

  .newsletter{
    margin-top: 15px;
  }

  form button .fa-solid{
    font-size: 16px;
    color: #ffffff;
  }

  .number{
    margin-bottom: -10px;
  }

  .social-icons .fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000000;
    background: #000000;
    margin-left: 10%;
  
  }

}









/*------------------- Others -------------------*/

.selection{
  background-color: #000000;

}
.selection2{
  /* background-image: url("C:/Users/sachi/Desktop/sachiofficial.github.io/image/selection1.png");
  background-size: cover;
  background-position: center; */
  background-color: #000000;

}
.selection3{
  /* background-image: url("C:/Users/sachi/Desktop/sachiofficial.github.io/image/selection3.png");
  background-size: cover;
  background-position: center; */
  background-color: #000000;

}
.selection4{
  /* background-image: url("C:/Users/sachi/Desktop/sachiofficial.github.io/image/selection2.png");
  background-size: cover;
  background-position: center; */
  background-color: #000000;
}
.selection5{
  /* background-image: url("C:/Users/sachi/Desktop/sachiofficial.github.io/image/selection3.png");
  background-size: cover;
  background-position: center; */
  background-color: #000000;
}